:root {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
}

body {
  display: flex;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

main {
  margin:auto
}



p {
  font-size: 0.9375rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.wrapper {
  max-width: 320px;
  margin-inline: auto;
}

.qr-code {
  background-color: var(--clr-white);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 1.15em;
  gap: 1.5em;
}

.qr-code > img {
  max-width: 100%;
  width: 288px;
  border-radius: 1em; 
}

.qr-code__header,
.qr_code__paragraph {
  text-align: center;
  padding-inline: 0.3rem;
}

.qr-code__header > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}